.hovercolourchange {

}

.hovercolourchange:hover {
    color:#00FFFB !important;
}

.language{
  width: clamp(160px, 18vw, 200px); 
}



.language:hover{
    transform: translateY(-5px);
    box-shadow: 0 2px 0px rgba(4, 247, 255, 1) !important;
}

html, body {
    margin: 0px;
    padding: 0px;
    gap: 0px;
}